#chat-container {
  display: grid;
  grid:
      "search-container chat-title" 71px
      "conversation-list chat-message-list" 1fr
      "new-message-container chat-form" 78px
      / 275px 1fr;
}

#search-container {
  grid-area: search-container;
}

#conversation-list {
  grid-area: conversation-list;
  overflow-y: scroll;
}

#new-message-container {
  grid-area: new-message-container
}


#chat-title {
  grid-area: chat-title;
}

#chat-message-list {
  grid-area: chat-message-list;
}

#chat-form {
  grid-area: chat-form;
}

.you-message .message-text {
  background: #0048AA;
  color: #eee;
  border: 1px solid #0048AA;
  border-radius: 14px 14px 0 14px;
}

.other-message .message-text {
  background: #eee;
  color: #111;
  border: 1px solid #ddd;
  border-radius: 14px 14px 14px 0;
}

::-webkit-scrollbar {
  display: none;
}