@import "tailwindcss";

@theme {
  --color-blue-primary: #0048AA;
  --color-gray-light: #eeeeee;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #57c1eb 0%, #246fa8);
}

